
@font-face{
    font-family:'Myanmar Text ';
    src:url('../assets/fonts/MyanmarText.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Myanmar Text ';
    src:url('../assets/fonts/MyanmarText-Bold.ttf');
    font-weight:bold;
    font-style:normal;
}
.char-of-Estilodepárrafo1-3 {
    font-family:'Myanmar Text ','MyanmarText-Bold','Myanmar Text';
    font-size:70px;
    font-weight:bold;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:white;
}
.char-of-Estilodepárrafo2-2 {
    font-family:'Myanmar Text ','MyanmarText','Myanmar Text';
    font-size:20px;
    font-weight:normal;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#F0E9E3;
}
.char-of-Estilodepárrafo2-0 {
    font-family:'Myanmar Text ','MyanmarText-Bold','Myanmar Text';
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:white;
}
.char-of-Estilodepárrafo2-1 {
    font-family:'Myanmar Text ','MyanmarText-Bold','Myanmar Text';
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#AE6A29;
}
.char-Normal {
    font-family:'Arial ','ArialMT','Arial','Helvetica','sans-serif';
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.para-Estilodepárrafo1 {
    text-align:center;
    page-break-inside:initial !important;
    hyphens:none;
    -webkit-hyphens:none;
    -ms-hyphens:none;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-Estilodepárrafo1 span {
    line-height:1.2em;
}
.para-Estilodepárrafo2 {
    text-align:center;
    page-break-inside:initial !important;
    hyphens:none;
    -webkit-hyphens:none;
    -ms-hyphens:none;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-Estilodepárrafo2 span {
    line-height:1.2em;
}
.para-Normal {
    text-align:left;
    page-break-inside:initial !important;
    hyphens:auto;
    -webkit-hyphens:auto;
    -ms-hyphens:auto;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-Normal span {
    line-height:1.2em;
}
.QxpSVG {
    position:inherit;
}
.QxpImage {
    position:absolute;
    top:0px;
    left:0px;
}
.QxpFlexImage {
    width:100%;
    height:100%;
    vertical-align:top;
}
.QxpImgKeepAR {
    width:100%;
    height:auto;
    vertical-align:top;
}
.QxpAnchImage {
    position:static;
    top:0px;
    left:0px;
}
.QxpSuperscript {
    line-height:1;
    font-size:0.6em;
    vertical-align:baseline;
}
.QxpSubscript {
    line-height:1;
    font-size:1em;
    vertical-align:baseline;
}
.QxpTextBox {
    position:absolute;
    left:0px;
    top:0px;
    white-space:nowrap;
    width:100%;
    height:100%;
    line-height:1;
    transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    transform:scale(0.05, 0.05);
    -webkit-transform:scale(0.05, 0.05);
}
.QxpVertTextBox {
    position:absolute;
    white-space:nowrap;
    width:100%;
    height:100%;
    top:0px;
    right:0px;
    line-height:1;
    transform-origin:100% 0%;
    -webkit-transform-origin:100% 0%;
    transform:scale(0.05, 0.05);
    -webkit-transform:scale(0.05, 0.05);
}
